<% layout('layout-home') -%>
    <main role="main" class="container">
        <div id="dvHome">
            <!-- <div id="tenantsChart">
                </div> -->
        </div>
    </main>
    <script src="/javascripts/app/home/home.js"></script>
    <script src="/javascripts/app/home/Plugin.Common.js"></script>
    <script src="/javascripts/app/home/Plugin.Menu.js"></script>
    <script src="/javascripts/app/home/Plugin.Home.js"></script>