<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CPanel - Restaurants UAE">
    <meta name="author" content="Mukesh Selvaraj">
    <title>CPanel - Restaurants UAE</title>
    <!--bootstrap cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <!--css-->
    <link href="/stylesheets/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/signin-form.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/signin.css" />

</head>

<body class="text-center" id="homeContainer">
    <% include ./partials/javascriptOnly%>
        <% include ./partials/CommonJS%>
            <%- body -%>
                <footer class="mastfoot">
                    <div class="inner">
                        <p>
                            <a href="https://www.linkedin.com/in/mukeshselvaraj/">Mukesh Selvaraj</a>
                        </p>
                        <p>
                            All rights reserved. Terms and conditions, features, support, and service options
                            subject to change without notice.
                        </p>
                    </div>
                </footer>

</body>

</html>
