<% layout('layout-login') -%>
    <main role="main" class="inner cover" id="dvSignout" style="align-items: center; padding-top: 40px; padding-bottom: 40px;">
        <p class="lead">Your session will be timed out due to inactivity. Please click on the link below to re-activate your session.</p>
        <p class="lead">
            <button type="button" class="btn btn-outline-success" id="btnSession">Click here to activate your session</button>
        </p>
    </main>
    <script src="/javascripts/app/user/Plugin.Signout.js"></script>
    <script src="/javascripts/app/user/Signout.js"></script>